html,body {
    margin: 0;
    padding: 0;
}

body {
    color: lightslategray;
    background-color: white;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #29c1cf;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #46aeb8;
  color: white;
}
#container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}

img {
    width: 60%;
    height: auto;
}

#logo {
    width: 80px;
    height: auto;
}